<%-include("partial/headSection")%>
<body bgcolor="aqua">
    <%-include("partial/navbar")%>
    <hr size="5" color="red">
    <hr size="5" color="blue">
    <center>
        <h1 style="text-decoration: underline;">This is DisplayPage of our website...</h1>
        <table border="2px solid black " bgcolor="yellow" style="font-size: 25px; width: 900px; text-align: center;">
            <thead>
                <th>ID </th>
                <th>Name </th>
                <th>City </th>
                <th>Fees </th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <% studata.forEach((key)=>{ %>
                <tr>
                    <td><%=key.rollno%></td>
                    <td><%=key.name%></td>
                    <td><%=key.city%></td>
                    <td><%=key.fees%></td>
                    <td>
                            <a href="/recdel/<%=key.id%>" style="text-decoration: none;">DELETE</a>
                    </td>
                    <td>
                        <a href="/recedit/<%=key.id%>" style="text-decoration: none;" >Edit</a>
                </td>
               </tr>
               <% }) %>
        </table>
    </center>
</body>
</html>