<%-include("partial/headSection")%>
<body bgcolor="red" >
    <%-include("partial/navbar")%>
    <hr size="5" color="red">
    <hr size="5" color="blue">
    <h1>Update Data</h1>
    <form action="/editUpdateSAve" method="post">
        <input type="hidden" value="<%=studata[0]._id%>" name="userid">
        Edit ID <input type="text" value="<%=studata[0].rollno%>" name="roll"> <br>
        Edit name <input type="text" value="<%=studata[0].name%>" name="nm"> <br>
        Edit city <input type="text" value="<%=studata[0].city%>" name="city"> <br>
        Edit fees <input type="text" value="<%=studata[0].fees%>" name="fees"> <br>
        <button>Data Update</button>
    </form>
</body>
</html>